const apiKeys = {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
  },
  bungieApi: {
    apiKey: '',
  },
};

 export default apiKeys;
